<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="ProWeb.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <asp:Panel runat="server" BorderStyle="Solid">
    <form id="form1" runat="server">
        Vicente Manuel Ruiz de Lope Martínez - 55178369N
        <div style="width:100%; 
                    height:150px; 
                    background-color:darkturquoise; 
                    text-align:center; 
                    line-height:150px";>
            <h1>
            <asp:Label ID="TopLabel" runat="server" Text="HADA P3 - CURSO 2025/26"
                style="text-align:center;">
            </asp:Label>
            </h1>
        </div>
        <div>
            <asp:ContentPlaceHolder ID="cph1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <div>
            <asp:ContentPlaceHolder ID="buttons" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
    </asp:Panel>
</body>
</html>
